@import "tailwindcss";

@theme {
  /* On lie les classes Tailwind aux variables CSS */
  --color-bg: var(--background);
  --color-surface: var(--card-bg);
  --color-accent: var(--color-terminal-green);
  --color-accent-soft: #10b98133;
}

:root {
  --color-terminal-green: #10b981;
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #f9fafb; /* Un gris très léger pour le mode clair */
}

html[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card-bg: #111111;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'JetBrains Mono', monospace;
}
@keyframes float {
  0% {
    transform: translate(0, 0) rotate(var(--rotation, 0deg));
    opacity: 0.2;
  }
  50% {
    opacity: 0.5; 
  }
  100% {
    transform: translate(20px, -20px) rotate(calc(var(--rotation, 0deg) + 10deg));
    opacity: 0.2;
  }
}

/* On s'assure que le motif de grille est bien là */
.bg-grid-pattern {
  background-image: radial-gradient(var(--color-accent) 0.5px, transparent 0.5px  );
  background-size: 30px 30px;
}